<div class="container mt-5">
<h1 class="text-primary">Todo Task</h1>
  <div class="row">
    <div class="col-md-6">
      <app-todo1-form></app-todo1-form>
    </div>
    <div class="col-md-6">
      <app-todo1-list></app-todo1-list>
    </div>
  </div>

 <hr>
<h1 class="text-danger">Student Task</h1>
  <div class="row">
    <div class="col-md-4">
      <app-student-form></app-student-form>
    </div>
    <div class="col-md-6">
      <app-student-table></app-student-table>
    </div>
  </div>
</div>